
*.ini
.spyproject/config/backups/codestyle.ini.bak
*.bak
__pycache__/utilities.cpython-311.pyc
__pycache__/optimiser_gurobi.cpython-311.pyc
__pycache__/optimiser_gurobi.cpython-311.pyc
__pycache__/utilities.cpython-311.pyc
__pycache__/optimiser_gurobi.cpython-311.pyc
__pycache__/utilities.cpython-311.pyc
